<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      AdonisJS x Inertia x React
    </title>

    @stack('dumper')
    @viteReactRefresh()
    @inertiaHead()
    @routes()
    @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
    <link rel="icon" type="image/svg+xml" href="../../inertia/public/assets/logo.svg" />
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>

</html>
